<p>
  <b>Name:</b>
  <%=h @gugol_calendar.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @gugol_calendar.description %>
</p>

<p>
  <b>Color:</b>
  <%=h @gugol_calendar.color %>
</p>

<p>
  <b>User:</b>
  <%=h @gugol_calendar.user %>
</p>

<p>
  <b>Pass:</b>
  <%=h @gugol_calendar.pass %>
</p>

<p>
  <b>Calname:</b>
  <%=h @gugol_calendar.calname %>
</p>


<%= link_to 'Edit', edit_gugol_calendar_path(@gugol_calendar) %> |
<%= link_to 'Back', gugol_calendars_path %>