<p>
  <b>Name:</b>
  <%=h @host.name %>
</p>

<p>
  <b>Ip:</b>
  <%=h @host.ip %>
</p>

<p>
  <b>Notes:</b>
  <%=h @host.notes %>
</p>

<p>
  <b>Os:</b>
  <%=h @host.os %>
</p>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
