<h1>Listing venue_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Active</th>
  </tr>

<% @venue_types.each do |venue_type| %>
  <tr>
    <td><%=h venue_type.name %></td>
    <td><%=h venue_type.description %></td>
    <td><%=h venue_type.active %></td>
    <td><%= link_to 'Show', venue_type %></td>
    <td><%= link_to 'Edit', edit_venue_type_path(venue_type) %></td>
    <td><%= link_to 'Destroy', venue_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New venue_type', new_venue_type_path %>