<h1>Listing event_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Icon</th>
    <th>Active</th>
    <th>Notes</th>
  </tr>

<% @event_types.each do |event_type| %>
  <tr>
    <td><%=h event_type.name %></td>
    <td><%=h event_type.icon %></td>
    <td><%=h event_type.active %></td>
    <td><%=h event_type.notes %></td>
    <td><%= link_to 'Show', event_type %></td>
    <td><%= link_to 'Edit', edit_event_type_path(event_type) %></td>
    <td><%= link_to 'Destroy', event_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event_type', new_event_type_path %>